
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright-report
/allure-results/
# Environment Variables
/.utils/.env
/.data/~$*.xlsx
/.env/
.env
**/.env